* {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 3.5rem;
}

header {
    background-color: #252525;
}

.bg-main {
    background-color: #252525;
    background-image: url(/assests/FUNDO_2.jpg);
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
}

.title {
    color: #a2f083;
    -webkit-animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

}

.title:hover {
    color: #f7f8f7;
}


.espaco-margin-vazio {
    margin-bottom: 400px;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(250, 250, 250, 0.29) !important;
}

.input-group-text {
    color: #707070;
    background-color: var(#252525);
    opacity: 20px;
    border: var(--bs-border-width) solid#252525;
    cursor: pointer;
}

.form-control:focus {
    border-color: #707070;
    border-right-width: 0;
    box-shadow: 0 0 0 0;
}

.form-control {
    border: var(--bs-border-width) solid #252525;
    border-right-color: #FFFF;
    color: #252525;
    background-color: var(#252525);
}


.card {
    height: 700px;
    cursor: pointer;
    color: white;
    background-color: #252525;
    border: #a2f083 0.5px solid;
}

.card-img-top {
    width: 100%;
    height: 70%;
    margin-bottom: 20px;

}

.cursor-pointer {
    cursor: pointer;
}

.active>.page-link,
.page-link.active {
    color: #a2f083;
    background-color: #252525;
    border-color: none;
}

.page-link {
    color: #a2f083;
    background-color: #252525;
    border: none;
}

.page-link:hover {
    color: #54fd00;
    background-color: #252525;
    /* opacity: 20%; */
    border: none;
}

.page-link:focus {
    border-color: var(#252525);
    box-shadow: 0 0 0 .025rem var(--cor-borda-input);
}

.pagination {
    --bs-pagination-disabled-color: #c6f5b3;
    --bs-pagination-disabled-bg: #252525;
    --bs-pagination-disabled-border-color: none;
}

footer {
    color: #c6f5b3;
    background-color: #252525;
    background-color: #252b23;
    border: none;

}

@media (max-width: 360px) {
    h1 {
        font-size: 2rem;
    }

    .page-link,
    .input-group-lg>.btn,
    .input-group-lg>.form-control,
    .input-group-lg>.form-select,
    .input-group-lg>.input-group-text {

        font-size: 0.875rem;

    }

    .text-copyright {
        font-size: 0.65rem;
    }
}


@media (max-with: 750px) {
    div.input-group {
        width: 65%
    }

    h1 {
        font-size: 3.5rem;
    }
}

@media (min-width: 750px) {
    div.input-group {
        width: 70%;
    }

    h1 {
        font-size: 3.5rem;
    }
}

@media (min-width: 400px) and (max-width: 767px) {
    .card {
        max-width: 352px;
    }

    .espaco-card {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 350px) {
    .espaco-margin-vazio {
        margin-bottom: 100px;
    }
}

@media (min-width: 351px) and (max-width: 500px) {
    .espaco-margin-vazio {
        margin-bottom: 150px;
    }
}

@media (min-width: 501px) and (max-width: 700px) {
    .espaco-margin-vazio {
        margin-bottom: 200px;
    }
}

@media (min-width: 701px) and (max-width: 900px) {
    .espaco-margin-vazio {
        margin-bottom: 250px;
    }
}

@media (min-width: 901px) and (max-width: 1100px) {
    .espaco-margin-vazio {
        margin-bottom: 300px;
    }
}

@media(min-width: 1400px) {
    .espaco-margin-vazio {
        margin-bottom: 600px;
    }
}


#icon {
    -webkit-animation: roll-in-blurred-left 7s cubic-bezier(0.230, 1.000, 0.320, 1.000) infinite both;
    animation: roll-in-blurred-left 15s cubic-bezier(0.230, 1.000, 0.320, 1.000) infinite both;
}


/* ----------------------------------------------
 * Generated by Animista on 2023-6-28 10:39:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-blurred-left
 * ----------------------------------------
 */

@keyframes roll-in-blurred-left {
    0% {
        -webkit-transform: translateX(-1000px) rotate(-720deg);
        transform: translateX(-1000px) rotate(-720deg);
        -webkit-filter: blur(50px);
        filter: blur(50px);
        opacity: 0;
    }

    50% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 0.15;
    }

    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        -webkit-filter: blur(50);
        filter: blur(20);
        opacity: 0.25;

    }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-7-2 11:52:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}